<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <button class="btn btn-primary my-2"><a class="text-white text-decoration-none" th:href="@{/give_book_back}">pay</a></button>
    <table class="table table-striped">
        <thead class="bg-success bg-gradient">
        <tr>
            <th class="text-white">#</th>
            <th class="text-white">Book</th>
            <th class="text-white">Count</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, iterStat: ${books}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${book.getBook()}"></td>
            <td th:text="${book.getCount()}"></td>
            <td>
                <button class="btn btn-secondary"><a class="text-white text-decoration-none" th:href="@{/detail(id=${book.getId()})}">Detail</a></button>
                <button class="btn btn-success"><a class="text-white text-decoration-none" th:href="@{/pay(id=${book.getId()})}">Pay Book</a></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>